<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border: solid 1px;">
        <tr>{%for customer in customers%}</tr>
        
            <td>{{customer.first_name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.email_address}}</td>
            <td>{{customer.phone_number}}</td>
            <td>{{customer.gender}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.id_number}}</td>
            <td>{{customer.country}}</td>
            <td>{{customer.account_type}}</td>
            <td>{{customer.registration_date}}</td>
            <td>{{customer.profile_picture}}</td>
            <td>{{customer.nationality}}</td>
            
            {%endfor%}
    </table>
</body>
</html>

 <!-- <td>First Name</td>
        <td>Email</td>
        <td>Age</td> -->