<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{card.card_number}}</h1>
    <h2>{{card.card_name}}</h2>
    <h2>{{card.card_type}}</h2>
    <h3>{{card.expiry_date}}</h3>
    <h4>{{card.cvv_securityCode}}</h4>
    <h2>{{card.date_issued}}</h2>
    <h3>{{card.account}}</h3>
    <h4>{{card.card_status}}</h4>
</body>
</html>