<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border: solid 1px;">
        {%for reward in rewards%}
        <tr>
            <td>{{reward.name}}</td>
            <td>{{reward.date_of_reward}}</td>
            <td>{{reward.recipient_wallet}}</td>
            <td>{{reward.transaction}}</td>
            <td>{{reward.transfer}}</td>
            <td>{{reward.redeem}}</td>
            <td>{{reward.shop}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>